FinalProjectBB1/.vs/
FinalProjectBB1/FinalProjectBB1/Debug/
Module Three/TicTacToe/TicTacToe/TicTacToe/Debug/
Module Three/TicTacToe/TicTacToe/.vs/TicTacToe/v15/ipch/e379eff7c72b21bd.ipch
Chapter7-TextAdventure/.vs/Chapter7-TextAdventure/v15/Browse.VC.db
Chapter7-TextAdventure/.vs/
Module Four/LoopingArrays/LoopingArrays/.vs/
Module Four/LoopingArrays/LoopingArrays/LoopingArrays/Debug/
Module Four/UserMenu/UserMenu/.vs/
Module Four/UserMenu/UserMenu/UserMenu/Debug/
Module Three/FiveChests/FiveChests/.vs/
Module Three/FiveChests/FiveChests/FiveChests/Debug/
Module Three/TicTacToe/TicTacToe/.vs/
